body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

#board {
    width: 50%;
    margin: auto;
    .row {
        clear: both;
        display: flex;
        flex: auto;
        &:after {
            content: "";
            float: none;
            clear: both;
            display: block;
        }
        .cell {
            text-align: center;
            width: calc(33% - 6px);
            float: left;
            height: 150px;
            overflow: hidden;
            padding-top: 75px;
            border: 1px solid #ccc;
            background-color: #aaa;
            cursor: pointer;
            color: white;
            font-weight: 900;
            &.X {
                background-color: teal;
            }
            &.O {
                background-color: orange;
            }
        }
    }
}

#current {
    padding: 10px;
    color: white;
    &.X {
        background-color: teal;
    }
    &.O {
        background-color: orange;
    }
}